h3 Карточки

= paginate @cards
.row
  -@cards.each do |card|
    .col-xs-1 style="width:300px"
      .panel.panel-default
        .panel-heading
          = card[:title] 
        .panel-body
          = card[:body] 

